/* 소개말 */
#service {padding-top: 150px;}
#service div p {font-size: 2.2rem; color: #524f4f;}
#service div p strong {color: #7950f2;}

/* 목적 */
#purpose {height: 700px;}
#purposeImgDiv {line-height: 700px; margin-left: 100px;}
#faqBtn, #startBtn, #reviewBtn {background-color: #7950f2; color: #fff; border-radius: 5px;}

/* 빠른 포폴올리기 */
#fastUpload{height: 700px;}
#startImgDiv {line-height: 700px; margin-right: 100px;}

/* 빠른 포폴리뷰하기 */
#fastReview{height: 700px;}
#reviewImgDiv {line-height: 700px; margin-left: 100px;}