@charset "UTF-8";
header{padding: 0 20px;}

/* 네비게이션 */
#logo {width: 50px; height: 50px;}
#logoText {
	color: #7950f2;
	font-size: 2rem;
	margin: 0 auto;
}

#logoText:hover{
	opacity: 0.8;
}

.navi {
	margin: 10px;
}

.navi a {
	text-decoration: none;
	color: #373538;
	font-weight: 600;
	font-size: 18px;
	width: 600px;
	margin-right: 20px;
}

.navi a:hover{
	color: #7950f2;
}

/* 로그인, 회원가입, 로그아웃 버튼 */
.userNavi{
	width: 560px;
	text-align: right;
}
body > div:nth-child(1) > header > div > div.navi.userNavi > a {
	border: 2px solid #7950f2;
	border-radius: 5px;
	color: #7950f2;
	margin-right: 5px;
	padding: 10px;
}

body > div:nth-child(1) > header > div > div.navi.userNavi > a:hover{
	background-color: #7950f2;
	color: #fff;
	padding: 10px;
}