@charset "UTF-8";
header{padding: 0 20px;}

/* 네비게이션 */
body > div:nth-child(1) > header > ul > li > a{
	color: #373538;
	font-weight: 600;
	font-size: 18px;
}

body > div:nth-child(1) > header > ul > li > a:hover{
	color: #7839ed;
}

/* 로그인, 회원가입 버튼 */
body > div:nth-child(1) > header > ul > li:nth-child(5) > a {
	border: 2px solid #7839ed;
	border-radius: 5px;
	color: #7839ed;
	margin-right: 10px;
}

body > div:nth-child(1) > header > ul > li:nth-child(5) > a:hover{
	background-color: #7839ed;
	color: #fff;
}

body > div:nth-child(1) > header > ul > li:nth-child(6) > a {
	border: 2px solid #7839ed;
	border-radius: 5px;
	color: #7839ed;
}

body > div:nth-child(1) > header > ul > li:nth-child(6) > a:hover{
	background-color: #7839ed;
	color: #fff;
}
