<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- 외부 css 추가 -->
	<link th:href="@{/css/porfolDetail.css}" rel="stylesheet" />
 	<script th:src="@{/js/porfolDetail.js}" type="text/javascript"></script>
	<title>Portfolio Reviewer - 포폴리뷰어</title>
</head>
<body>
	<!-- 헤더 -->
	<div th:insert="common/header"></div>
	<!-- 메인 -->
	<main>
		<!-- 썸네일 / 포폴 기본정보 -->
		<section>
			<div class="container">
				<div class="d-flex justify-content-between mb-4">
					<ul class="list-group list-group-flush d-inline-block">
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'frontend')}">
							<img src="/images/front.png"><span>프론트엔드</span>
						</li>
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'backend')}">
							<img src="/images/back.png"><span>백엔드</span>
						</li>
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'design')}">
							<img src="/images/design.png"><span>디자인</span>
						</li>
					</ul>
					<div class="d-inline-block">
						<span th:if="${userVO.id == porfolUploadVO.userId}">
							<a class="btn btn-outline-dark" th:href="@{/porfolUpload(id = ${porfolUploadVO.id})}">수정</a>
							<a class="btn btn-outline-dark" th:href="@{/porfolDelete(id = ${porfolUploadVO.id})}" id="deleteBtn">삭제</a>
						</span>
						<a class="btn btn-outline-dark" th:href="@{/porfolList}">목록</a>
					</div>
				</div>
				<h1 th:text="${porfolUploadVO.title}" class="mb-4">포폴 제목</h1>
				<div class="mb-4">
					<div class="d-inline-block" id="thumbnailDiv">
						<img id="thumbnail" th:src="|/upload/thumbnail/${thumbnailVO.serverThumbnailName}|" class="card-img-top" alt="thumbnail..">
					</div>
					<div class="d-inline-block" id="fileInfoDiv">
						<p>url : <a th:text="${porfolUploadVO.url}" target='_blank'></a></p>
						<p>첨부파일 : <span th:text="${attachFileVO.originFileName}"></span></p>
						<p>조회수 : <span th:text="${porfolUploadVO.viewCnt}"></span></p>
						<p>좋아요 : <span th:text="${porfolUploadVO.likeCnt}"></span></p>
					</div>
				</div>
				<p th:text="${porfolUploadVO.hashtags}" id="hashtags">사용언어 #xx 로 표시..</p>
			</div>
		</section>
		
		<!-- 포폴 설명 -->
		<section>
			<div class="container">
				<p th:text="${porfolUploadVO.description}"></p>
			</div>			
		</section>	
		
		<!-- 댓글 작성 -->
		<section>
			<div class="container">
				<input type="hidden" id="boardId" th:value="${porfolUploadVO.id}">
				<div class="card mb-2">
					<div class="card-header bg-light">
						<i class="fa fa-comment fa"></i> 의견
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
						    <li class="list-group-item">
							<textarea id="replyText" class="form-control" rows="3"></textarea>
							<button type="button" id="replyAddBtn" class="btn btn-outline-dark mt-3">등록</button>
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<!-- 댓글 목록 -->
		<section>
			<div class="container">
	            <div class="card mb-2">
	            	<div class="card-header bg-light">
						<i class="fa fa-comment fa"></i> 댓글 
					</div>
					<div id="replyDiv">
						<div th:id="${replyList.id}" class="card-body replyList" th:each="replyList : ${replyList}">
							<input class="replyId" type="hidden" th:value="${replyList.id}">
							<div class="d-inline-block profileImgDiv">
								<img class="profileImg" alt="" src="/images/people3.png">
							</div>
							<div class="d-inline-block replyContentDiv">
								<ul class="list-group list-group-flush">
								    <li class="list-group-item">
								    	<h6 class="username" th:text="${replyList.username}"></h6>
										<p class="replyTextOrigin" th:text="${replyList.replyText}"></p>
										<p th:text="${replyList.createDt}"></p>
										<div th:if="${userVO?.username.equals(replyList.username)}">
											<button class="btn btn-outline-dark" type="button" th:onclick="'javascript:replyUpdateForm(' + ${replyList.id} + ');'">수정</button>
											<button class="btn btn-outline-dark" type="button" th:onclick="'javascript:replyDelete(' + ${replyList.id} + ');'">삭제</button>
										</div>
								    </li>
								</ul>
							</div>
						</div>
					</div>
	            </div>
	        </div>
		</section>
	</main>
	<!-- 푸터 -->
	<div th:insert="common/footer"></div>
	
	<script type="text/javascript">
		/* 부모댓글 수정 폼 (get)*/
		function replyUpdateForm (replyId){
			var username = $('#' + replyId + ' .username').text();
			var replyTextOrigin = $('#' + replyId + ' .replyTextOrigin').text();
			var updateForm =  '<div th:id="' + replyId + '" class="card-body replyList"><div class="d-inline-block profileImgDiv"><img class="profileImg" alt="" src="/images/people1.png"></div>' +
			'<div class="d-inline-block replyContentDiv"><ul class="list-group list-group-flush"><li class="list-group-item"><h6 id="username">'+username+'</h6>' +
			'<textarea id="replyTextUpdate" class="form-control" rows="3">'+ replyTextOrigin +'</textarea>' +
			'<p>' + new Date(+new Date() + 3240 * 10000).toISOString().replace("T", " ").replace(/\..*/, '') +'</p>' +
			'<div><button id="replyUpdateBtn" class="btn btn-outline-dark" type="button">수정완료</button></div></li></ul></div></div>';

			$('#' + replyId).replaceWith(updateForm);
			
			/* 부모댓글 수정 처리 (post)*/
			$('#replyUpdateBtn').on('click', function(){
				var replyTextUpdate = $('#replyTextUpdate').val();
				
				$.ajax({
					url		 : "/reply/" + replyId,
					type	 : "post",
					data	 : {
						replyTextUpdate : replyTextUpdate
					},
					success  : function(resp){
						location.reload();
					},
					error 	 : function(XMLHttpRequest, textStatus, errorThrown){
						alert('댓글 수정이 실패했습니다. 다시 시도 해주세요.');
					}
				});
			})
		}
		
		/* 부모댓글 삭제 처리 */
		function replyDelete (replyId){
			if (confirm('댓글을 삭제하시겠습니까?')){
				$.ajax({
					url		 : "/reply/" + replyId,
					type	 : "delete",
					success  : function(resp){
						location.reload();
					},
					error 	 : function(XMLHttpRequest, textStatus, errorThrown){
						alert('댓글 삭제가 실패했습니다. 다시 시도 해주세요.');
					}
				});
			} else {
				return;
			}
		}
	</script>
</body>
</html>