<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- 외부 css 추가 -->
	<link th:href="@{/css/porfolDetail.css}" rel="stylesheet" />
 	<script th:src="@{/js/porfolDetail.js}" type="text/javascript"></script>
	<title>Portfolio Reviewer - 포폴리뷰어</title>
</head>
<body>
	<!-- 헤더 -->
	<div th:insert="common/header"></div>
	<!-- 메인 -->
	<main>
		<!-- 썸네일 / 포폴 기본정보 -->
		<section>
			<div class="container">
				<div class="d-flex justify-content-between mb-4">
					<input type="hidden" id="boardWriter" th:value="${boardWriter}">
					<input type="hidden" id="replyWriter" th:value="${userVO.username}">
					<ul class="list-group list-group-flush d-inline-block">
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'frontend')}">
							<img src="/images/front.png"><span>프론트엔드</span>
						</li>
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'backend')}">
							<img src="/images/back.png"><span>백엔드</span>
						</li>
						<li class="list-group-item" th:if="${#strings.equals(porfolUploadVO.category, 'design')}">
							<img src="/images/design.png"><span>디자인</span>
						</li>
					</ul>
					<div class="d-inline-block">
						<span th:if="${userVO.id == porfolUploadVO.userId}">
							<a class="btn btn-outline-dark" th:href="@{/porfolUpload(id = ${porfolUploadVO.id})}">수정</a>
							<a class="btn btn-outline-dark" th:href="@{/porfolDelete(id = ${porfolUploadVO.id})}" id="deleteBtn">삭제</a>
						</span>
						<a class="btn btn-outline-dark" th:href="@{/porfolList}">목록</a>
					</div>
				</div>
				<h1 id="porfolTitle" th:text="${porfolUploadVO.title}" class="mb-4">포폴 제목</h1>
				<div class="mb-4">
					<div class="d-inline-block" id="thumbnailDiv">
						<img id="thumbnail" th:src="|/upload/thumbnail/${thumbnailVO.serverThumbnailName}|" class="card-img-top" alt="thumbnail..">
					</div>
					<div class="d-inline-block" id="fileInfoDiv">
						<p>url : <a id="porfolUrl" th:text="${porfolUploadVO.url}" target='_blank'></a></p>
						<p>첨부파일 : <a th:href="@{|/download/${attachFileVO.id}|}"><span th:text="${attachFileVO.originFileName}"></span></a></p>
						<p>조회수 : <span th:text="${porfolUploadVO.viewCnt}"></span></p>
						<p>좋아요 : <span th:text="${porfolUploadVO.likeCnt}"></span></p>
					</div>
				</div>
				<p th:text="${porfolUploadVO.hashtags}" id="hashtags"></p>
			</div>
		</section>
		
		<!-- 포폴 설명 -->
		<section>
			<div class="container">
				<p th:text="${porfolUploadVO.description}"></p>
			</div>			
		</section>	
		
		<!-- 좋아요 -->
		<section>
			<div class="mt-4 mb-4 text-center">
				<input type="hidden" id="likeDeleteYn" th:value="${likeDeleteYn}">
				<span class="row text-center likeAtag" id="likeOff" th:if="${likeDeleteYn == 0 }">
                    <a th:onclick="like_func( [[ ${porfolUploadVO.id} ]] );" class="text-decoration-none"><span>좋아요</span><img alt="파일:Heart icon red hollow.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Heart_icon_red_hollow.svg/497px-Heart_icon_red_hollow.svg.png" decoding="async" width="497" height="470" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Heart_icon_red_hollow.svg/746px-Heart_icon_red_hollow.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/52/Heart_icon_red_hollow.svg/994px-Heart_icon_red_hollow.svg.png 2x" data-file-width="497" data-file-height="470"></a>
                </span>
                <span class="row text-center likeAtag" id="likeOn" th:if="${likeDeleteYn == 1 }">
                    <a th:onclick="like_func( [[ ${porfolUploadVO.id} ]] );" class="text-decoration-none"><span>좋아요</span><img alt="파일:Love Heart SVG.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/645px-Love_Heart_SVG.svg.png" decoding="async" width="645" height="585" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/968px-Love_Heart_SVG.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/1290px-Love_Heart_SVG.svg.png 2x" data-file-width="645" data-file-height="585"></a>
                </span>
            </div>
		</section>
		
		<!-- 댓글 작성 -->
		<section>
			<div class="container">
				<input type="hidden" id="boardId" th:value="${porfolUploadVO.id}">
				<div class="card mb-2">
					<div class="card-header bg-light">
						<i class="fa fa-comment fa"></i> 의견
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
						    <li class="list-group-item">
							<textarea id="replyText" class="form-control" rows="3"></textarea>
							<button type="button" class="btn btn-outline-dark mt-3 replyAddBtn">등록</button>
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<!-- 댓글 목록 -->
		<section>
			<div class="container">
	            <div class="card mb-2">
	            	<div class="card-header bg-light">
						<i class="fa fa-comment fa"></i> 댓글 
					</div>
					<div id="replyDiv">
						<div th:id="${replyList.id}" class="card-body replyList" th:each="replyList : ${replyList}">
							<input class="replyId" type="hidden" th:value="${replyList.id}">
							<div class="d-inline-block profileImgDiv">
								<span th:if="${replyList.grpl} == 1">
									<img id="rightarrow" alt="화살표" src="/images/rightarrow.png">
								</span>
								<img class="profileImg" alt="" src="/images/people3.png">
							</div>
							<div class="d-inline-block replyContentDiv">
								<ul class="list-group list-group-flush">
								    <li class="list-group-item">
								    	<h6 id="originReplyUsername" class="username" th:text="${replyList.username}"></h6>
										<p class="replyTextOrigin" th:text="${replyList.replyText}"></p>
										<p th:text="${replyList.createDt}"></p>
										<div th:if="${replyList.grpl} == 0" class="d-inline-block">
											<button class="btn btn-outline-dark" type="button" th:onclick="'javascript:reReplyForm(' + ${replyList.id} + ');'">답글</button>
										</div>
										<div th:if="${userVO?.username.equals(replyList.username)}" class="d-inline-block">
											<button class="btn btn-outline-dark" type="button" th:onclick="'javascript:replyUpdateForm(' + ${replyList.id} + ');'">수정</button>
											<button class="btn btn-outline-dark" type="button" th:onclick="'javascript:replyDelete(' + ${replyList.id} + ');'">삭제</button>
										</div>
								    </li>
								</ul>
							</div>
							
							<!-- 자식댓글 입력 폼 -->
							<div class="reReplyForm"></div>
						</div>
					</div>
	            </div>
	        </div>
		</section>
	</main>
	<!-- 푸터 -->
	<div th:insert="common/footer"></div>
</body>
</html>